In [1]:
import pandas as pd

In [53]:
data = pd.read_csv('goodreads/books_2.csv')

data.head()

,BookID,Title,Author,Rating,Number of raters,5 stars,4 stars,3 stars,2 stars,1 star,Number of reviewers,Pages,PublishDate,Book format,Language,GenreLink,Series
0,100001,Stephen Hawking's Universe,John Boslough,4.03,748,272,279,147,46,4,39,127.0,July 1st 1984,Paperback,English,6153,NaN
1,100002,Beyond The Black Hole: Stephen Hawking's Universe,John Boslough,4.03,748,272,279,147,46,4,39,144.0,July 1st 1984,Hardcover,NaN,6153,NaN
2,100005,In Search of Schrödinger's Cat,John Gribbin,4.05,18783,7027,6927,3753,800,276,473,302.0,September 1984,Paperback,English,96418,Schrödinger's Cat
3,100006,Schrödinger's Kittens and the Search for Reali...,"John Gribbin, Mark Evan Chimsky",4.06,1500,534,601,300,48,17,60,272.0,1984,Paperback,English,208911,Schrödinger's Cat
4,100015,Bahama Crisis,Desmond Bagley,3.63,461,79,181,157,38,6,21,NaN,January 1st 1981,Audio Cassette,English,96428,NaN

In [54]:
len(data)

33560

In [55]:
clean_v1 = data[~data.GenreLink.isnull()]

len(clean_v1)

33560

In [56]:
clean_v2 = clean_v1.drop_duplicates(subset="BookID")
len(clean_v2)

33560

In [57]:
clean_v2["Raters"] = clean_v2.loc[:, ("5 stars", "4 stars", "3 stars", "2 stars", "1 star")].apply(sum, axis=1)
clean_v2.head()

,BookID,Title,Author,Rating,Number of raters,5 stars,4 stars,3 stars,2 stars,1 star,Number of reviewers,Pages,PublishDate,Book format,Language,GenreLink,Series,Raters
0,100001,Stephen Hawking's Universe,John Boslough,4.03,748,272,279,147,46,4,39,127.0,July 1st 1984,Paperback,English,6153,NaN,748
1,100002,Beyond The Black Hole: Stephen Hawking's Universe,John Boslough,4.03,748,272,279,147,46,4,39,144.0,July 1st 1984,Hardcover,NaN,6153,NaN,748
2,100005,In Search of Schrödinger's Cat,John Gribbin,4.05,18783,7027,6927,3753,800,276,473,302.0,September 1984,Paperback,English,96418,Schrödinger's Cat,18783
3,100006,Schrödinger's Kittens and the Search for Reali...,"John Gribbin, Mark Evan Chimsky",4.06,1500,534,601,300,48,17,60,272.0,1984,Paperback,English,208911,Schrödinger's Cat,1500
4,100015,Bahama Crisis,Desmond Bagley,3.63,461,79,181,157,38,6,21,NaN,January 1st 1981,Audio Cassette,English,96428,NaN,461

In [58]:
clean_v3 = clean_v2[clean_v2["Raters"] > 150]
len(clean_v3)

33560

In [59]:
clean_v3 = clean_v3.drop(columns=['Raters'])
clean_v3.head()

,BookID,Title,Author,Rating,Number of raters,5 stars,4 stars,3 stars,2 stars,1 star,Number of reviewers,Pages,PublishDate,Book format,Language,GenreLink,Series
0,100001,Stephen Hawking's Universe,John Boslough,4.03,748,272,279,147,46,4,39,127.0,July 1st 1984,Paperback,English,6153,NaN
1,100002,Beyond The Black Hole: Stephen Hawking's Universe,John Boslough,4.03,748,272,279,147,46,4,39,144.0,July 1st 1984,Hardcover,NaN,6153,NaN
2,100005,In Search of Schrödinger's Cat,John Gribbin,4.05,18783,7027,6927,3753,800,276,473,302.0,September 1984,Paperback,English,96418,Schrödinger's Cat
3,100006,Schrödinger's Kittens and the Search for Reali...,"John Gribbin, Mark Evan Chimsky",4.06,1500,534,601,300,48,17,60,272.0,1984,Paperback,English,208911,Schrödinger's Cat
4,100015,Bahama Crisis,Desmond Bagley,3.63,461,79,181,157,38,6,21,NaN,January 1st 1981,Audio Cassette,English,96428,NaN

In [60]:
publish = clean_v3.PublishDate
year = publish.str.split().str[-1]
year

0        1984
1        1984
2        1984
3        1984
4        1981
         ...
33555    1972
33556    1962
33557    2003
33558    1972
33559    1962
Name: PublishDate, Length: 33560, dtype: object

In [17]:
clean_v3['PublishYear'] = year
clean_v3.head()

,BookID,Title,Author,Rating,Number of raters,5 stars,4 stars,3 stars,2 stars,1 star,Number of reviewers,Pages,PublishDate,Book format,Language,GenreLink,Series,PublishYear
0,3,Harry Potter and the Sorcerer's Stone,"J.K. Rowling, Mary GrandPré",4.48,7479780,4868903,1704361,631378,148016,127122,118557,309.0,June 26th 1997,Hardcover,English,4640799,Harry Potter,1997
1,1,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,2567345,1738165,611768,175048,29134,13230,41832,652.0,July 16th 2005,Paperback,English,41335427,Harry Potter,2005
2,7,The Harry Potter Collection,"J.K. Rowling, Mary GrandPré",4.73,31236,25140,4473,1111,230,282,921,NaN,January 1st 2005,Paperback,English,21457570,Harry Potter,2005
3,10,Harry Potter Collection,J.K. Rowling,4.73,31236,25140,4473,1111,230,282,921,3342.0,January 1st 2005,Hardcover,English,21457570,Harry Potter,2005
4,5,Harry Potter and the Prisoner of Azkaban,"J.K. Rowling, Mary GrandPré",4.57,2993081,2028235,706012,215277,29265,14292,58998,435.0,July 8th 1999,Mass Market Paperback,English,2402163,Harry Potter,1999

In [28]:
clean_v4 = clean_v3[clean_v3.PublishYear.str.isdigit()]
len(clean_v3)

46556

In [33]:
clean_v4.PublishYear = clean_v4.PublishYear.astype(int)
clean_v4 = clean_v4.drop(columns=['PublishDate'])
clean_v4.tail()

,BookID,Title,Author,Rating,Number of raters,5 stars,4 stars,3 stars,2 stars,1 star,Number of reviewers,Pages,Book format,Language,GenreLink,Series,PublishYear
46556,99992,The Best American Science and Nature Writing 2000,"David Quammen, Burkhard Bilger",3.98,166,58,59,39,8,2,9,265.0,Paperback,English,96405,NaN,2000
46557,99990,The Best American Science and Nature Writing 2005,"Jonathan Weiner, Tim Folger",3.91,155,41,66,42,5,1,9,336.0,Paperback,English,96403,NaN,2005
46558,99991,The Best American Science and Nature Writing 2003,"Richard Dawkins, Tim Folger, Edward O. Wilson",4.13,195,83,66,37,6,3,7,352.0,Paperback,English,96404,NaN,2003
46559,99995,The Best American Science and Nature Writing 2000,"David Quammen, Burkhard Bilger",3.98,166,58,59,39,8,2,9,NaN,Hardcover,English,96405,NaN,2000
46560,99998,Best American Science and Nature Writing 2004,"Steven Pinker, Tim Folger",3.92,228,67,96,50,10,5,15,NaN,Hardcover,English,31789,NaN,2004

In [50]:
clean_v4.Pages.fillna(int(clean_v4.Pages.mean()), inplace=True)
clean_v4.Series.fillna('None', inplace=True)
clean_v4["Book format"].fillna(clean_v4["Book format"].mode(), inplace=True)
clean_v4.Language.fillna(clean_v4.Language.mode(), inplace=True)

clean_v4.tail()

,BookID,Title,Author,Rating,Number of raters,5 stars,4 stars,3 stars,2 stars,1 star,Number of reviewers,Pages,Book format,Language,GenreLink,Series,PublishYear
46556,99992,The Best American Science and Nature Writing 2000,"David Quammen, Burkhard Bilger",3.98,166,58,59,39,8,2,9,265.0,Paperback,English,96405,None,2000
46557,99990,The Best American Science and Nature Writing 2005,"Jonathan Weiner, Tim Folger",3.91,155,41,66,42,5,1,9,336.0,Paperback,English,96403,None,2005
46558,99991,The Best American Science and Nature Writing 2003,"Richard Dawkins, Tim Folger, Edward O. Wilson",4.13,195,83,66,37,6,3,7,352.0,Paperback,English,96404,None,2003
46559,99995,The Best American Science and Nature Writing 2000,"David Quammen, Burkhard Bilger",3.98,166,58,59,39,8,2,9,318.0,Hardcover,English,96405,None,2000
46560,99998,Best American Science and Nature Writing 2004,"Steven Pinker, Tim Folger",3.92,228,67,96,50,10,5,15,318.0,Hardcover,English,31789,None,2004

In [52]:
clean_v4.to_csv('goodreads/books_1.csv', index=False)

In [ ]:
def clean_data(data):
    clean_v1 = data[~data.GenreLink.isnull()]
    clean_v2 = clean_v1.drop_duplicates(subset="BookID")
    
    clean_v2["Raters"] = clean_v2.loc[:, ("5 stars", "4 stars", "3 stars", "2 stars", "1 star")].apply(sum, axis=1)
    clean_v3 = clean_v2[clean_v2["Raters"] > 150]
    
    publish = clean_v3.PublishDate
    year = publish.str.split().str[-1]
    clean_v3['PublishYear'] = year
    
    clean_v4 = clean_v3[clean_v3.PublishYear.str.isdigit()]